.block {
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
}
.h {
  margin-top: 16px;
  margin-bottom: 32px;
  max-width: 22ch;
  margin-left: auto;
  margin-right: auto;
}
.btns {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}
